{% extends "layout.html" %}

{% block contact_us %}
<div class="" style="margin-top: 100px">

</div>

<div class="container">
  <!-- leave action blank. Class for styling-->
  <form id="contact"  action="" method="POST">
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
        <legend class="col-lg-12 text-center"> Contact Us:</legend>

      <!-- CUSTOMER ENTERED NAME  -->

      <div class="form-group center">

        {{ form.name.label(class="form-control-label") }}
        {{ form.name(class="form-control form-control-lg") }}

      </div>

      <!-- CUSTOMER ENTERED EMAIL ADDRESS  -->

      <div class="form-group center">
        {{ form.email.label(class="form-control-label") }}
        {{ form.email(class="form-control form-control-lg") }}
      </div>

      <!-- CUSTOMER ENTERED PHONE  -->

      <div class="form-group centered">
        {{ form.phone.label(class="form-control-label") }}
        {{ form.phone(class="form-control form-control-lg") }}
      </div>

      <!-- CUSTOMER ENTERED MESSAGE -->

      <div class="form-group">
        {{ form.message.label(class="form-control-label") }}
          {{ form.message(class="form-control form-control-lg") }}

      </div>

    </fieldset>

    <!-- SUBMIT FORM SUBMISSION BUTTON  -->

    <div class="form-group text-center">
      {{ form.submit(class="btn btn-eco-verde-blue btn-xl text-center") }}
    </div>

  </form>

</div>
{% endblock contact_us %}
